@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    height: 5em;
    width: 100%;
    display: flex;
    box-shadow: 0px 3px 1em rgba(0, 0, 0, .1);
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: rgb(104 104 104);
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: unset;
    font-size: 1em;
}

.logo img {
    height: 4.5em;
}

nav {
    font-size: 13px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    display: flex;
    padding: 10px;
    text-decoration: none;
}

nav .dropdown {
    position: relative;
}

nav .dropdown ul {
    box-shadow: 0px 3px 1em rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    background-color: rgb(255 255 255 / 85%);
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 10em;
    display: none;
    visibility: hidden;
    padding: 0;
    z-index: 2;
}

nav .dropdown ul li {
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav .dropdown ul li a {
    padding: 0;
}

nav .dropdown ul li:hover {
    background-color: rgb(245 245 245 / 70%);
}

nav .dropdown:hover ul,
nav .dropdown ul li.sub_dropdown:hover ul {
    display: grid;
    visibility: visible;
}

nav .dropdown ul li.sub_dropdown ul {
    display: none;
    visibility: hidden;
    top: inherit;
    left: 100%;
    text-transform: none;
}

.sub_dropdown>img {
    transform: rotate(270deg);
}

.dropdown_arrow,
.icon>img {
    width: 1em;
}

.dropdown_arrow {
    transition: transform 0.2s ease-in-out;
}

.dropdown:hover .dropdown_arrow:not(.arrow_right) {
    transform: rotate(-180deg);
}

.sub_dropdown:hover .arrow_right {
    transform: rotate(180deg);
}

.menu_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searcher>img {
    width: 1.25em;
}

@media screen and (max-width: 600px) {
    nav {
        height: fit-content;
        width: 100%;
        top: 5em;
        font-size: 1em;
        background-color: #ffffff00;
        backdrop-filter: blur(5px);
        bottom: 0;
        z-index: 1;
        position: absolute;
        display: none;
        visibility: hidden;
    }

    nav>ul {
        padding: 1em;
        margin: 0;
        display: grid;
        visibility: visible;
        box-shadow: 0px 3px 1em rgba(0, 0, 0, .1);
        backdrop-filter: blur(5px);
        background-color: rgb(255 255 255 / 85%);
    }

    nav>ul>li {
        padding: 0;
        margin: 0;
        display: flex;
        position: relative;
        display: grid;
    }

    nav>ul>li:not(:last-child)::after {
        content: "";
        border-bottom: 1px solid rgb(241, 241, 241);
        display: block;
    }

    nav .dropdown:hover ul,
    nav .dropdown ul li.sub_dropdown:hover ul {
        display: grid;
        visibility: visible;
        font-size: .9em;
        position: relative;
        padding: 0 0.5em;
        top: 0;
        left: 0;
    }

    nav .dropdown ul li.sub_dropdown:hover ul {
        padding: 1em 0.5em 0;
    }

    nav a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
    }

    nav .dropdown {
        position: relative;
        display: grid;
    }

    nav .dropdown ul {
        box-shadow: unset;
        backdrop-filter: unset;
        background-color: unset;
    }

    nav .dropdown ul li {
        display: grid;
        justify-content: unset;
    }

    nav .dropdown ul li:hover {
        background-color: unset;
    }

    .sub_dropdown {
        position: relative;
        display: grid;
        margin: 0;
    }

    .sub_dropdown>ul {
        display: grid;
        visibility: visible;
        font-size: .9em;
        position: relative;
        padding: 0 0.5em;
        top: 0;
        left: 0;
    }

    .searcher>img {
        width: 1.5em;
    }

    .hamburger>img {
        width: 1.7em;
    }

    .menu_icons {
        width: 6em;
    }

    .main_banner {
        height: calc(100vh - 35vh);
    }
}

@media screen and (min-width: 600px) {
    .menu_icons .hamburger {
        display: none;
        visibility: hidden;
    }

    .menu_title {
        max-width: 15em;
    }

    nav .dropdown ul li:not(:last-child)::after {
        content: "";
        border-bottom: 1px solid rgb(241, 241, 241);
        display: block;
    }
}

/* Slider */

.main_banner {
    position: relative;
    height: calc(100vh - 20vh);
    width: 100%;
    display: flex;
    overflow: hidden;
    top: 0;
}

.slider {
    display: flex;
    /*animation: slide 30s infinite;*/
}

.slider img,
.slider video {
    position: relative;
    width: 100vw;
    object-fit: cover;
}

.slider_controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
}

.slider_control {
    display: inline-block;
    width: 100%;
    height: 7px;
    margin: 0 1px;
    background-color: rgb(255 255 255 / 63%);
    cursor: pointer;
}

.slider_controls .slider_control:nth-of-type(1):active {
    animation: slide1 1s forwards;
}

.slider_controls .slider_control:nth-of-type(2):active {
    animation: slide2 1s forwards;
}

.slider_controls .slider_control:nth-of-type(3):active {
    animation: slide3 1s forwards;
}

.slider_controls .slider_control:nth-of-type(4):active {
    animation: slide4 1s forwards;
}

@keyframes slide1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-25%);
    }
}

@keyframes slide3 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slide4 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-75%);
    }
}

@media screen and (max-width: 600px) {
    .main_banner {
        height: calc(100vh - 40vh);
    }
}

/* End Slider*/
/* Columns */

.columns {
    display: flex;
    width: 100%;
    height: auto;
}

.column {
    padding: 0;
    width: 33.33%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.column>a {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.column>a img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 2s;        
}

.column>a span {
    z-index: 1;
    position: absolute;
    font-size: larger;
    width: 100%;
    text-align: center;
    color: white;
    box-sizing: border-box;
    background: linear-gradient(to top, #000000b0 65%, #00000000);
    bottom: 0;
    padding: 1.5em 0.5em;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .column > a span {
        padding: .5em;
    }
}

/* End Columns */

.separator {
    display: flex;
    padding: 0.5em;
    position: relative;
    justify-content: space-around;
    background-color: #ffffff73;
    backdrop-filter: blur(5px);
    top: 0;
}

/* Main News */

.main_news {
    width: 50vw;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.main_news > .news_piece {
    width: 100%;
}

.news_piece > a {
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.news_piece img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 2s;
}

.news_piece > a:hover img,
.column > a:hover img {
    transform: scale(1.05);
}

.news_piece .news_title {
    position: absolute;
    z-index: 1;
    font-size: larger;
    color: white;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    background: linear-gradient(to top, #00000099 65%, #00000000);
    bottom: 0;
}

.highlight_news {
    display: flex;
    height: 600px;
}

.secundary_news {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.secundary_news > .news_piece {
    height: 50%;
}

.secundary_news > .news {
    height: calc(var(--main-news-height)/2);
}

.other_news {
    display: flex;
    flex-wrap: wrap;
}

.other_news > .news_piece {
    width: 25%;
}

.secundary_news > .news_piece .news_title {
    padding: 1.5em 2em 1em;
    font-size: large;
}

.other_news > .news_piece .news_title {
    padding: 1.5em 1em 0.75em;
    font-size: medium;
}

@media screen and (max-width: 600px) {
    .highlight_news {
        height: fit-content;
        flex-direction: column;
    }

    .main_news {
        width: 100%;
        height: 23em;
    }

    .main_news .news_piece .news_title {
        padding: 1em;
    }

    .secundary_news {
        width: 100vw;
    }

    .secundary_news > .news_piece {
        height: 13em;
    }

    .secundary_news > .news_piece .news_title {
        padding: 1.5em 1em 1em;
    }

    .other_news > .news_piece {
        width: 50vw;
        height: 13em;
    }
}

/* Sponsors */

.sponsors {
    width: 100vw;
    display: flex;
    align-items: center;
    height: 10em;
    justify-content: space-evenly;
}

.sponsor {
    display: flex;
    height: 80%;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.sponsor > img {
    display: flex;
    position: relative;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.larg_width > img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .sponsors {
        flex-direction: column;
        height: 30em;
        position: relative;
    }

    .sponsor {
        width: auto;
        height: 8em;
    }

    .sponsor.larg_width {
        height: fit-content;
        width: 75%;
    }
    
}

/* Footer */

footer {
    height: auto;
    background-color: rgb(242, 242, 242);
    position: relative;
}

.subfooter {
    background-color: #d4d4d4;
    display: flex;
    height: 4em;
    align-items: center;
    padding: 0 1.5em;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box
}

.legal_links {
    display: flex;
    justify-content: space-between;
}

.legal_links span {
    margin: 0 1em;
    text-align: center;
}

.legal_links span:first-child {
    margin: 0 1em 0 0;
}

.legal_links span:last-child {
    margin: 0 0 0 1em;
}

footer > .columns {
    padding: 2em;
    box-sizing: border-box;
    justify-content: space-between;
}

footer .column {
    flex-direction: column;
    width: fit-content;
}

footer .column > .footer_column_title {
    text-transform: uppercase;
    display: flex;
    font-weight: bold;
    font-size: 1em;
    justify-content: center;
    padding: 1em 0;
}

footer .column > .footer_column_body {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
}

footer .column > .footer_column_body a {
    text-decoration: none;
}

footer ul {
    margin: 0; 
    padding: 0;
}

footer li {
    list-style: none;
    padding: 0.5em 0;
    justify-content: start;
    display: flex;
    align-items: center;
}

footer li img.icon {
    width: 2em;
    margin: 5px;
}

footer .column .address {
    display: grid;
}

footer .column .address > span {
    font-size: small;
}

footer .column.rrss {
    width: fit-content;
}

footer .column.sitemap {
    width: 60%;
}

.footer_column_info_category_title {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    padding: 0 0 .5em;
}

@media screen and (max-width: 600px) {
    footer > .columns {
        flex-direction: column;
    }

    footer .column.rrss {
        width: 100%;
    }

    footer .footer_column_body {
        width: 100%;
        padding: 0;
    }

    footer .column.rrss .footer_column_body > ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }

    footer .column.rrss .footer_column_body > ul > li{
        padding: 0 0.5em;
        display: flex;
        flex-direction: column;
    }

    footer .column > .footer_column_body {
        padding: 0;
    }

    footer .column.sitemap {
        width: 100%;
    }

    footer .column.sitemap > .footer_column_body {
        flex-direction: column;
        padding: 1em 0;
    }

    footer .column.sitemap > .footer_column_body > ul {
        padding: 1em 0;
    }

    footer li {
        padding: 0 0.5em;
    }

    .subfooter {
        height: fit-content;
        flex-direction: column-reverse;
        padding: 1em;
        font-size: small;
    }

    .subfooter > span {
        padding: 1em 0 0;
    }
}

/* section */

section {
    padding: 2em 5em;
}

ul {
    list-style: none;
}

section ul li {
    margin: 1.5em 0;
}